In [1]:
import pandas as pd
df = pd.read_csv("D:/Python/Jupyter/achieves/2008.csv")

In [3]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    1344.0
2    1951.0
3    1357.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [4]:
df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    -86.0
2    -89.0
3    -87.0
4   -129.0
5    -86.0
6    -91.0
7    -90.0
Name: ArrDelay, dtype: float64

In [5]:
df.groupby(by = "DayOfWeek")["ArrDelay"].count()

DayOfWeek
1    558434
2    549705
3    560800
4    573487
5    559335
6    469727
7    528645
Name: ArrDelay, dtype: int64

In [6]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()

              count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          558434.0   9.932277  38.878117  -86.0  -9.0 -1.0  14.0  1344.0
2          549705.0   9.879061  40.118765  -89.0 -10.0 -1.0  13.0  1951.0
3          560800.0   8.073563  36.651496  -87.0 -10.0 -1.0  12.0  1357.0
4          573487.0   9.967136  37.514650 -129.0  -9.0  0.0  15.0  2453.0
5          559335.0  13.708513  41.948953  -86.0  -8.0  1.0  19.0  1707.0
6          469727.0   6.789099  37.547836  -91.0 -11.0 -2.0  11.0  1525.0
7          528645.0  10.597443  41.310594  -90.0  -9.0 -1.0  14.0  2461.0

In [8]:
df.groupby(by = "DayOfWeek")[["ArrDelay", "DepDelay"]].mean()

            ArrDelay   DepDelay
DayOfWeek
1           9.932277  11.405789
2           9.879061  10.660437
3           8.073563   9.445845
4           9.967136  10.787576
5          13.708513  14.019731
6           6.789099   9.301563
7          10.597443  12.258178

In [9]:
df.groupby(by = "DayOfWeek")[["ArrDelay", "DepDelay"]].max() - df.groupby(by = "DayOfWeek")[["ArrDelay", "DepDelay"]].min()

           ArrDelay  DepDelay
DayOfWeek
1            1430.0    1428.0
2            2040.0    2013.0
3            1444.0    1426.0
4            2582.0    2528.0
5            1793.0    1802.0
6            1616.0    1600.0
7            2551.0    2524.0

In [10]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])]

In [14]:
dfATLHOU.groupby(by = ["DayOfWeek","Origin"])[["ArrDelay"]].mean()

                   ArrDelay
DayOfWeek Origin
1         ATL      7.996726
          HOU      9.226731
2         ATL      8.949033
          HOU     13.972405
3         ATL      9.422921
          HOU     11.390126
4         ATL      8.529010
          HOU     16.378093
5         ATL     14.458880
          HOU     13.928705
6         ATL     10.403028
          HOU      4.384334
7         ATL     11.469171
          HOU      8.735382

In [16]:
dfATLHOU.groupby(by = ["Origin","DayOfWeek"])[["ArrDelay"]].mean()

                   ArrDelay
Origin DayOfWeek
ATL    1           7.996726
       2           8.949033
       3           9.422921
       4           8.529010
       5          14.458880
       6          10.403028
       7          11.469171
HOU    1           9.226731
       2          13.972405
       3          11.390126
       4          16.378093
       5          13.928705
       6           4.384334
       7           8.735382

In [17]:
mygroupby = dfATLHOU.groupby(by = ["Origin","DayOfWeek"])[["ArrDelay"]]

In [18]:
mygroupby.max()

                  ArrDelay
Origin DayOfWeek
ATL    1             385.0
       2             848.0
       3             876.0
       4             571.0
       5             459.0
       6             483.0
       7             548.0
HOU    1             301.0
       2             546.0
       3             344.0
       4             449.0
       5             397.0
       6             917.0
       7             674.0

In [19]:
mygroupby.min()

                  ArrDelay
Origin DayOfWeek
ATL    1             -69.0
       2             -89.0
       3             -47.0
       4             -51.0
       5             -51.0
       6             -56.0
       7             -86.0
HOU    1             -47.0
       2             -37.0
       3             -38.0
       4             -42.0
       5             -40.0
       6             -41.0
       7             -55.0

In [20]:
mygroupby.describe()

                 ArrDelay
                    count       mean        std   min   25%  50%   75%    max
Origin DayOfWeek
ATL    1          30548.0   7.996726  30.030697 -69.0  -8.0  0.0  13.0  385.0
       2          29372.0   8.949033  35.246093 -89.0  -9.0 -1.0  12.0  848.0
       3          30008.0   9.422921  36.085506 -47.0  -9.0  0.0  13.0  876.0
       4          30472.0   8.529010  30.429415 -51.0  -8.0  0.0  15.0  571.0
       5          30581.0  14.458880  38.317373 -51.0  -7.0  3.0  21.0  459.0
       6          24837.0  10.403028  39.036949 -56.0 -10.0 -1.0  15.0  483.0
       7          29128.0  11.469171  37.135602 -86.0  -8.0  1.0  17.0  548.0
HOU    1           4781.0   9.226731  31.232514 -47.0  -6.0  0.0  12.0  301.0
       2           4711.0  13.972405  40.439896 -37.0  -5.0  1.0  16.0  546.0
       3           4760.0  11.390126  31.099940 -38.0  -5.0  1.0  15.0  344.0
       4           4930.0  16.378093  38.824321 -42.0  -4.0  4.0  21.0  449.0
       5           4797.0  13.928705  33.359110 -40.0  -4.0  3.0  20.0  397.0
       6           3281.0   4.384334  31.155679 -41.0  -8.0 -2.0   7.0  917.0
       7           4327.0   8.735382  29.768812 -55.0  -6.0  0.0  13.0  674.0